

.dark-mode {
  background-color: rgb(39, 37, 37);
  color: orange;
  
  
}
header{
  text-align: justify;
  
}
img{
  image-resolution: 1080;
}
h2{
  text-align: center;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  
}
h3{
  text-align: center;
}
