

.dark-mode {
  background-color: rgb(39, 37, 37);
  color: orange;
  
  
}
header{
  text-align: justify;
  
}
img{
  image-resolution: 1080;
  float: initial;
}
h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}
h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
h3{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
